<div *ngIf = "jugadores == 0"> Loading </div>

<div *ngIf = "jugadores != 0">
 <div class="card" style="width: 18rem;"*ngFor="let jug of jugadores">
    <img [src]="jug.img" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{jug.name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{jug.age}}</li>
    </ul>
    <div class="card-body">
        <button type="button" (click)="ficharJugadores(jug.id)" class="btn btn-primary btn-lg btn-block">Fichar</button>
    </div>
  </div>
</div>