<div *ngIf = "jugadores == 0"> Loading </div>

<div *ngIf = "jugadores != 0">
<div class="card-columns">
  <div class="card mb-3" style="max-width: 540px;" *ngFor="let jug of jugadores">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="jug.img" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{jug.name}}</h5>
          <p class="card-text">{{jug.age}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div>
  <button type="button" (click)="vamoDisponible()" class="btn btn-primary btn-lg btn-block">Fichar</button>
  </div>