<!-- <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="button" (click)="setClubID(id)" class="btn btn-primary">Log in</button>
  <div *ngIf = "clubes.name == 'AFA' ">
    
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<!-- </div> -->   <!-- del if -->

<!-- <form (ngSubmit)="commentPost(forma)" #forma="ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    placeholder="usuario" name="name"
    [(ngModel)]="clubUsuario.name">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    placeholder="usuario" name="password"
    [(ngModel)]="clubUsuario.password">
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form> -->

<div *ngIf = "mostrar == false"> Loading </div>

<div *ngIf = "mostrar != false">

<form (ngSubmit)="datosIngresados(forma)" #forma="ngForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    placeholder="usuario" name="name"
    [(ngModel)]="clubUsuario.name">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
    placeholder="password" name="password"
    [(ngModel)]="clubUsuario.password">
  </div>
  <button type="submit" (click)="setClubID(id)" class="btn btn-primary">Log in</button>
</form>
</div>

  <!-- COMPROBACION DE USER Y PASSWORD  -->






<!-- <p>
  home works!
</p>
 -->