<!-- <form (ngSubmit)="datosIngresados(forma)" #forma="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Agregar a un jugador</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Nombre del jugador" name="name"
      [(ngModel)]="jugador.name">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Edad" name="age"
      [(ngModel)]="jugador.password">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Imagen" name="img"
      [(ngModel)]="jugador.img">
    </div>
    <div><button type="submit" class="btn btn-primary">Alta</button></div>
  </form> -->